/* Website Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

div#container {
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px; /*delete later. nest container inside section*/
    width: 960px;
    height: 960px;
}

.block {
    border: solid black 1px;
}