/* Website Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

div#container {
    display: flexbox;
    border: solid black 5px; /*delete later. nest container inside section*/
    width: 500px;
    height: 500px;
}

.block {
 border: solid black 5px;
}